<!-- Signin page content goes here -->
<div id="signin-content" class="signin-content partner-registration-content">
	<section class="canvera-signin">
		<div class="container">
			<div class="tab-box clearfix">
				<div class="tab-box-left">
					<ul class="nav nav-tabs">
						<li class="active"><a data-toggle="tab" href="#tab1">PARTNER REGISTRATION</a></li>
					</ul>
					<div class="tab-content">
						<div id="tab1" class="tab-pane fade in active">
							<form id="signinForm" method="post" novalidate class="photo-form">
								<div class="clearfix input-with-select">
									<div class="form-group">
										<select id="name-select-box" class="theme-select form-control">
												<option>Mr</option>
												<option>Mrs</option>
												<option>Miss</option>
										</select>
									</div>
									<div class="form-group">
										<input type="text" class="form-control" name="name" placeholder="Name" required />
									</div>
								</div>
								<div class="clearfix half-group">
									<div class="form-group">
										<input type="email" class="form-control" id="email" name="email" placeholder="Email" required />
									</div>
									<div class="form-group">
										<input type="password" class="form-control" id="password" name="password" placeholder="YOUR PASSWORD" required/>
									</div>
								</div>
								<div class="clearfix input-with-select">
									<div class="form-group">
										<input type="text" class="form-control" name="code" placeholder="+91" required/>
									</div>
									<div class="form-group">
										<input type="text" class="form-control" name="number" placeholder="Mobile Number" required />
									</div>
								</div>
								<div class="clearfix">
									<div class="theme-checkbox-block">
										<div class="checkbox-btn">
											<input type="checkbox" name="register" id="register" checked>
											<label for="register">Register Me for Pro Range Photobooks *</label>
										</div>
									</div>
									<div class="theme-checkbox-block">
										<div class="checkbox-btn">
											<input type="checkbox" name="classified" id="classified" checked>
											<label for="classified">Create a classified profile* </label>
										</div>
									</div>
								</div>
								<div class="btn-container registration-btn">
									<button type="submit" class="btn form-btn">SUBMIT</button>
								</div>
								<p class="form-note">Already a member with us? <a href="partner-login">Login Here</a></p>
							</form>
						</div>
					</div>
				</div>
				<div class="tab-box-right">
						<app-carousel></app-carousel>
				</div>
			</div>
		</div>
	</section>
</div>
