<nav class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
          <img alt="Canvera.com | Home" title="Canvera" src="assets/images/logo.png" >
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-left">
        <li class="yougraphy"><a href="products">YOUGRAPHY</a></li>
        <li class="pro-products"><a href="pro-products">PRO - RANGE</a></li>
        <li><a href="https://photographers.canvera.com" target="_blank">FIND A PHOTOGRAPHER</a></li>
      </ul>

      <!-- SOF pre login header -->
      <div id="preLoginMenu" class="header-dropdown pull-right hidden-xs">
        <div class="header-dropdown-link login-dropdown-link">
          ARE YOU A PHOTOGRAPHER ? 
          <img class="arr-black header-arr" alt="arrow" title="" src="assets/images/arrow-down.png">
          <img class="arr-white header-arr" alt="arrow" title="" src="assets/images/arrow-down-white.png">
        </div>
        <ul class="header-dropdown-menu">
          <li><a href="partner-login">Log In</a></li>
          <li class="menu-divide"><a href="login-and-order-photobook">Order Photobook</a></li>
          <li><a href="login-and-make-payment">Make Payment</a></li>
          <li><a href="login-and-download">Downloads</a></li>
          <li class="menu-divide"><a href="business-solutions-for-professional-photographer">Our Offerings</a></li>
        </ul>
      </div>
      <ul id="preLoginNav" class="nav navbar-nav navbar-right">
        <li class="visible-xs photographer"><a href="business-solutions-for-professional-photographer">ARE YOU A PHOTOGRAPHER ?</a></li>
        <li class="blog"><a href="blog">BLOG</a></li>
        <li class="hidden-xs contact"><a href="contact">CONTACT US</a></li>
        <li class="visible-xs contact"><a href="contact">CONTACT US</a></li>
        <li class="visible-xs photobook"><a href="login-and-order-photobook">ORDER PHOTOBOOK</a></li>
        <li class="visible-xs payment"><a href="login-and-make-payment">PAY NOW</a></li>
        <li class="visible-xs signin"><a href="partner-login">LOGIN</a></li>
      </ul>
      <!-- EOF pre login header -->

      <!-- SOF post login header -->
      <div id="postLoginMenu" class="header-dropdown pull-right hidden-xs" style="display:none;">
        <div class="header-dropdown-link logout-dropdown-link">
          <span id="partnerName" class="profile-name"></span>
          <img class="profile-img" alt="Profile" title="Profile" src="assets/images/header-profile.png">
          <img class="arr-black header-arr" alt="arrow" title="" src="assets/images/arrow-down.png">
          <img class="arr-white header-arr" alt="arrow" title="" src="assets/images/arrow-down-white.png">
        </div>
        <ul class="header-dropdown-menu">
          <li><a href="order-photobook">Order Photobook</a></li>
          <li><a href="make-payment">Make Payment</a></li>
          <li><a href="downloads">Downloads</a></li>
          <li class="menu-divide"><a href="business-solutions-for-professional-photographer">Our Offerings</a></li>
          <li class="menu-divide"><a href="partner-logout">Logout</a></li>
        </ul>
      </div>
      <ul id="postLoginNav" class="nav navbar-nav navbar-right" style="display:none;">
        <li class="visible-xs photographer"><a href="business-solutions-for-professional-photographer">ARE YOU A PHOTOGRAPHER ?</a></li>
        <li class="blog"><a href="blog">BLOG</a></li>
        <li class="hidden-xs contact"><a href="contact">CONTACT US</a></li>
        <li class="visible-xs contact"><a href="contact">CONTACT US</a></li>
        <li class="visible-xs photobook"><a href="order-photobook">ORDER PHOTOBOOK</a></li>
        <li class="visible-xs payment"><a href="make-payment">PAY NOW</a></li>
        <li class="visible-xs signin"><a href="partner-logout">LOGOUT</a></li>
      </ul>
      <!-- EOF post login header -->

    </div>
  </div>
</nav>
