<div class="content-div payment-details-content">
    <section class="payment-section">
        <div class="container">
            <h2 class="text-center">{{title}}</h2>
            <div class="payment-banner payment-left visible-lg visible-md">
                <img alt="Banner" title="Banner" src="assets/images/payment-banner-1.jpg" />
                <img alt="Banner" title="Banner" src="assets/images/payment-banner-2.jpg" />
            </div>
            <router-outlet></router-outlet>
            <div class="payment-banner payment-left hidden-lg hidden-md">
                <img alt="Banner" title="Banner" src="assets/images/payment-banner-1.jpg" />
                <img alt="Banner" title="Banner" src="assets/images/payment-banner-2.jpg" />
            </div>
            <div class="payment-banner payment-right">
                <img alt="Banner" title="Banner" src="assets/images/payment-banner-3.jpg" />
                <img alt="Banner" title="Banner" src="assets/images/payment-banner-4.jpg" />
            </div>
        </div>
    </section>
</div>
