<div class="signin-slider">
  <div class="signin-item">
    <div class="signin-top">
      <img alt="signin" title="signin" src="assets/images/signin-2.png" usemap="#MapSignin1" />
      <map name="MapSignin1" id="MapSignin1">
        <area alt="AppStore" title="AppStore" href="https://itunes.apple.com/in/app/canvera-partner/id1187884827?mt=8" shape="poly" coords="228,224,228,265,377,264,374,226" target="_blank"/>
        <area alt="PlayStore" title="PlayStore" href="https://play.google.com/store/apps/details?id=com.canvera.photographer&hl=en" shape="poly" coords="227,287,229,325,373,325,374,285"  target="_blank"/>
      </map>
    </div>
  </div>
  <div class="signin-item">
    <div class="signin-top">
      <img alt="signin" title="signin" src="assets/images/signin-3.png" usemap="#MapSignin2" />
      <map name="MapSignin2" id="MapSignin2">
        <area alt="Download" title="Download" href="downloads" shape="poly" coords="125,326,130,361,278,363,278,328" />
      </map>
    </div>
  </div>
</div>
