<div class="content-div payment-content">
	<section class="other-payment-section">
	  <div class="container">
	    <h2 class="text-center">Other Payment Modes</h2>

	    <div class="payment-white-div payment-top">
	      <h4>
	        <img src="assets/images/icon-info-black.png" />
	        <span>For a faster order processing, we recommend online payment transaction. We do offer offline payment modes but such
	        payments take time to reflect in your Canvera account.</span></h4>
	    </div>

	    <div class="dropdown">
	      <div class="payment-white-div dropdown-toggle" data-toggle="dropdown">
	        <h4 class="payment-title">1. Wire Transfer (NEFT/ RTGS/ IMPS)</h4>
	        <img alt="arrow" title="arrow" src="assets/images/arrow-down.png">
	      </div>
	      <div class="dropdown-content">
	        <div class="payment-white-div">
	          <div class="payment-info-div">
	            <p><span>Bank Name : </span><span>Axis Bank</span></p>
	            <p><span>Account Name: </span><span>Canvera Digital Technologies Private Limited</span></p>
	            <p><span>Account No.: </span><span>194010200010928</span></p>
	            <p><span>IFSC Code: </span><span>UTIB0000194</span></p>
	          </div>
	        </div>
	        <h4 class="grey-bg-text">Note: Please email us the transaction ID and amount paid at care@canvera.com </h4>
	      </div>
	    </div>

	    <div class="dropdown">
	      <div class="payment-white-div dropdown-toggle" data-toggle="dropdown">
	        <h4 class="payment-title">2. Pay by Cheque/DD</h4>
	        <img alt="arrow" title="arrow" src="assets/images/arrow-down.png">
	      </div>
	      <div class="dropdown-content">
	        <div class="payment-white-div">
	          <p>Make the cheque/ DDs payable to "Canvera Digital Technologies Private Limited"</p>
	        </div>
	        <div class="clearfix payment-three">
	          <div class="payment-white-div">
	            <p>Hand over the Cheque/ DD to Canvera sales rep</p>
	          </div>
	          <div class="payment-white-div">
	            <p>Courier to Canvera’s Bengaluru office</p>
	            <p>Address</p>
	            <p># 531/144, 150 Feet Ring Road, Agara, HSR Layout, Bangalore-560 102 India.</p>
	          </div>
	          <div class="payment-white-div">
	            <p>Deposit directly to Canvera’s account in Axis Bank:</p>
	            <p>Account No.: 194010200010928</p>
	            <p><a href="product-catalogue/payment/pay_in_slip_check.pdf" target="_blank" class="payment-download-link">[Download Pay-in-Slip]</a></p>
	          </div>
	        </div>

	        <h4 class="grey-bg-text">Note: Write your name and mobile number behind the cheque/DD. Please make sure you deposit a CTS cheque.</h4>
	      </div>
	    </div>

	    <div class="dropdown">
	      <div class="payment-white-div dropdown-toggle" data-toggle="dropdown">
	        <h4 class="payment-title">3. Pay by Cash</h4>
	        <img alt="arrow" title="arrow" src="assets/images/arrow-down.png">
	      </div>
	      <div class="dropdown-content">
	        <div class="clearfix payment-two">
	          <div class="payment-white-div">
	            <p>Pay at Axis Bank</p>
	            <p><a href="product-catalogue/payment/pay_in_slip_cash.pdf" target="_blank" class="payment-download-link">[Download Pay-in-Slip]</a></p>
	            <p>If you don't have the pay-in-slip, use this info to deposit cash:</p>
	            <p>Canvera Account Number : 194010200011422</p>
	            <p>Payable to : Canvera Digital Technologies Private Limited</p>
	          </div>
	          <div class="payment-white-div">
	            <p>Hand over the payment to your Canvera sales rep</p>
	            <p>Note: Always insist on a receipt </p>
	          </div>
	        </div>

	        <h4 class="grey-bg-text">Note: While despositing cash, Following fields to be filled in by the bank executive. The names of the fields
	          that bank exec sees on their screens may vary from the pay-in-slip. Here is the exact mapping for your reference:</h4>
	        <h4 class="grey-bg-text">Form number: Fill in the Order Number </h4>
	        <h4 class="grey-bg-text">Name of Student : fill in your Name (same as in Canvera)</h4>
	        <h4 class="grey-bg-text">Pay-in-Slip No. : fill in your Mobile No. (same as in Canvera)</h4>
	        <h4 class="grey-bg-text">If you do not have order number, please use your mobile number.</h4>
	      </div>
	    </div>

	    <div class="dropdown">
	      <div class="payment-white-div dropdown-toggle" data-toggle="dropdown">
	        <h4 class="payment-title">FAQ'S</h4>
	        <img alt="arrow" title="arrow" src="assets/images/arrow-down.png">
	      </div>
	      <div class="dropdown-content">
	        <div class="payment-white-div">
	          <p>Q. How do I get the order number?</p>
	          <p>A. When you place an online order via partner app/compose OR place it with our sales rep, an automated email
	            is generated with the order number & details. Check your mail inbox OR <a href="http://onelink.to/p2vyw8" target="_blank">partner app </a> or <a href="downloads">compose</a>.
	          </p>
	        </div>
	        <div class="payment-white-div">
	          <p>Q. How to make a bulk payment for multiple orders?</p>
	          <p>A. The easiest way to make a bulk payment is via partner app & website. Please try now.
	In case you’re doing it via other modes, please provide the order number (this can be any of the order number that you are paying for) or Mobile No. (if you don’t have the order no.)</p>
	        </div>
	      </div>
	    </div>

	  </div>
	</section>
</div>
