<div class="payment-bottom clearfix">
    <div class="payment-bottom-div">
        <form id="orderForm" method="post" novalidate class="order-details-form">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Payment Amount</label>
                        <input type="text" class="form-control" id="amount" placeholder="ENTER AMMOUNT" required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Payment Description</label>
                        <input type="text" class="form-control" id="description" placeholder="ENTER PAYMENT DESCRIPTION">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="btn-container">
        <button type="submit" class="btn form-btn">Back</button>
        <button type="submit" class="btn form-btn pull-right">PAY NOW</button>
    </div>
</div>
