<div class="container">
  <h3>Contact Us</h3>
  <div class="row">
    <div class="col-sm-4 col-xs-12 footer-add">
      <p><a href="mailto:care@canvera.com">Care@canvera.com</a></p>
      <p>1-800-419-0570</p>
      <p># 531/144, 150 Feet Ring Road, HSR Layout 1st Sector, Agara, Bengaluru (560102), Karnataka, India</p>
    </div>
    <div class="col-sm-5 col-xs-12 footer-links">
      <ul>
        <li class="first">
          <a href="downloads">Downloads</a>
        </li>
        <li>
          <a href="delivery-time">Delivery</a>
        </li>
        <li>
          <a href="business-solutions-for-professional-photographer">Photographer's</a>
        </li>
        <li class="first">
          <a href="business-solutions-for-professional-photographer">Directory</a>
        </li>
        <li>
          <a href="news">News</a>
        </li>
        <li>
          <a href="about">About Us</a>
        </li>
        <li>
          <a href="our-team">Our Team</a>
        </li>
        <li class="first">
          <a href="terms-of-service">Terms of Service</a>
        </li>
        <li>
          <a href="design-services-terms-and-conditions">Design Services - T & C</a>
        </li>
        <li class="first">
          <a href="return-policy">Return Policy</a>
        </li>
        <li>
          <a href="view-photobook-online">View Photobook</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-3 col-xs-12 footer-social">
      <ul class="pull-right">
        <li>
          <a href="https://facebook.com/Canvera/" target="_blank">
                <img alt="facebook" title="Facebook" src="assets/images/social-1.png">
            </a>
        </li>
        <li>
          <a href="https://twitter.com/Canvera/" target="_blank">
                <img alt="twitter" title="Twitter" src="assets/images/social-2.png">
            </a>
        </li>
        <li>
          <a href="https://preprod.instagram.com/canveradotcom/" target="_blank">
                <img alt="instagram" title="Instagram" src="assets/images/social-3.png">
            </a>
        </li>
        <li>
          <a href="https://plus.google.com/+canvera" target="_blank">
                <img alt="google" title="Google" src="assets/images/social-4.png">
            </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/canvera-com" target="_blank">
                <img alt="linkedin" title="Linkedin" src="assets/images/social-5.png">
            </a>
        </li>
        <li>
          <a href="https://www.youtube.com/user/CanveraInc" target="_blank">
                <img alt="youtube" title="Youtube" src="assets/images/social-6.png">
            </a>
        </li>
        <!--<li>
          <a href="#" target="_blank">
                <img alt="" title="" src="assets/images/social-7.png">
            </a>
        </li>-->
      </ul>
    </div>
  </div>

  <div class="site-links">
    <div class="clearfix">
      <span class="site-link-title">Wedding Photographers</span>
      <ul class="site-link-href">
        <li>-</li>
        <li><a href="https://photographers.canvera.com/north/ncr/delhi" target="_blank">Delhi,</a></li>
        <li><a href="https://photographers.canvera.com/west/maharashtra/mumbai" target="_blank">Mumbai,</a></li>
        <li><a href="https://photographers.canvera.com/south/tamil-nadu/chennai" target="_blank">Chennai,</a></li>
        <li><a href="https://photographers.canvera.com/east/west-bengal/kolkata" target="_blank">Kolkata,</a></li>
        <li><a href="https://photographers.canvera.com/south/telangana/hyderabad" target="_blank">Hyderabad,</a></li>
        <li><a href="https://photographers.canvera.com/south/karnataka/bangalore" target="_blank">Bangalore</a></li>
      </ul>
    </div>
    <div class="clearfix">
      <span class="site-link-title">Top Wedding Photographers </span>
      <ul class="site-link-href">
        <li>-</li>
        <li><a href="https://photographers.canvera.com/top-wedding-photographers-in-india">India,</a></li>
        <li><a href="https://photographers.canvera.com/top-wedding-photographers-in-bangalore">Bangalore,</a></li>
        <li><a href="https://photographers.canvera.com/top-wedding-photographers-in-mumbai">Mumbai,</a></li>
        <li><a href="https://photographers.canvera.com/top-wedding-photographers-in-chennai">Chennai,</a></li>
        <li><a href="https://photographers.canvera.com/top-wedding-photographers-in-delhi">Delhi,</a></li>
        <li><a href="https://photographers.canvera.com/top-wedding-photographers-in-kolkata">Kolkata</a></li>
      </ul>
    </div>
    <div class="clearfix">
      <span class="site-link-title">Photo Inspirations</span>
      <ul class="site-link-href">
        <li>-</li>
        <li><a href="https://photographers.canvera.com/wedding-photography-inspirations/quirky-couples" target="_blank">Quirky Couples,</a></li>
        <li><a href="https://photographers.canvera.com/pre-wedding-photography-inspirations/dream-date-alert" target="_blank">Dream date alert,</a></li>
        <li><a href="https://photographers.canvera.com/wedding-photography-inspirations/tears-of-joy" target="_blank">Tears of joy,</a></li>
        <li><a href="https://photographers.canvera.com/wedding-photography-inspirations/brides-who-rock" target="_blank">Brides who rock,</a></li>
        <li><a href="https://photographers.canvera.com/maternity-photography-inspirations/new-arrivals" target="_blank">New arrivals,</a></li>
        <li><a href="https://photographers.canvera.com/wedding-photography-inspirations/brides-in-white" target="_blank">Brides in White, </a></li>
        <li><a href="https://photographers.canvera.com/proposal-photography-inspirations/she-said-yes" target="_blank">She said yes!</a></li>
      </ul>
    </div>
  </div>
</div>
