footer {
	background-color: #232323;
	color: #808080;
	padding: 30px 0 50px;

	a{
		color: #808080;		

		&:hover, &:focus{
			color: #808080;
		}
	}

	.top-row{
		border-bottom: 1px solid #333;
		margin-bottom: 30px;
    padding-bottom: 10px;

		.social-links li{
		  position: relative;
		  bottom: 0.42em;

		  a{
		  	background-color: #949494;
        color: #333;
		    display: inline-block;    
		    height: 2.143em;
		    padding: 0.42em 0;
		    text-align: center;
		    width: 2.143em;

		    @include border-radius(15px);
		    @include transition(0.1s);

		    &:hover, &:focus{
		    	color: #fff;
		    	text-decoration: none;

		    	&.fb{
				    background-color: #3b5998;    
				  }

				  &.twitter{
				    background-color: #55ACEE;
				  }

				  &.gp{
				    background-color: #dd4b39;
				  }

				  &.linkedin{
				    background-color: #007bb6;
				  }

				  &.youtube{
				    background-color: #bb0000;
				  }
				  &.instagram{
				  	background:linear-gradient(-135deg, #1400c8, #b900b4, #f50000);
				  }
		    }
	    	
		  }
		}

	}

	.seo-links{
		font-size: 12px;

		a.view-all{
			color: $primary-color;
		}

		.list-head{
			color: #e5e9ed;
			font-size: 14px;
			a,a:hover, a:focus{
				color: #e5e9ed;	
			}			
		}	
	}
}