.canvera-forgot{
  .container{
    max-width: 680px;

    .tab-box {
      .tab-box-left{
        .photo-form {
          > p {
            font-size: 12px;
          }

          .btn-container {
            margin: 35px 0 15px;
          }
        }

        .part-2 {
          display: none;
          p {
            font-size: 12px;
            margin: 55px 0;
          }
        }

        .submitted {
          .photo-form {
            display: none;
          }
          .part-2 {
            display: block;
          }
        }
      }
    }

    .payment-box{
      .payment-head {
        cursor: auto;
        
        p {
          font-size: 11px;
        }
      }
    }
  }
}