.custom-modal{
	.modal-content{
		@include border-radius(0);
	}

	.modal-header{
		background-color: #253948;
		color: #fff;

		.close{
		 	color: #fff;
	    font-size: 1.3em;
	    margin-top: 4px;
	    opacity: 1;
	    text-shadow: none;
		}
	}

	iframe{
		background-color: #E9E5DC;
	}

	
}