header {
	background-color: #fff;
	border-bottom: 1px solid $border-color;
	min-height: 57px;
	padding-top: 4px;	
	position: relative;
	visibility: hidden;

	.navbar-brand{
		padding: 5px 15px 5px 0;
	}	

	.btn{
		font-size: 1em;
		position: absolute;
		left: 36%;
		padding: 10px;
		top: 8px;
	}

	.navbar-nav li {
		margin-bottom: -1px;
		margin-left: 2px;

		a{
			border-bottom: 2px solid #fff;
			color: #575757;
			display: inline-block;
			text-decoration: none;
		  text-transform: uppercase;
		  padding-left: 12px;
		  padding-right: 12px;

		  &:hover,&:focus{
				background-color: transparent;
				border-color: $secondary-color;
				text-decoration: none;
			}
		}

		&.active a{
			border-color: $secondary-color;			
		}
		
	}

}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .navbar-header .collapse, .navbar-toggle {
    display:block !important;
  }
  .navbar-header {
    float:none;
  }
}